{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>
    Authors: {{ post.authors }}<br/>
    Published in: <i>{{ post.venue }}</i><br/>
    <a href=" {{ post.paperurl }} "><u>Get PDF</u><img src="{{base_path }}/images/pdflogo.jpg"></a>

    {% if post.video %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> 
      <iframe width="446" height="250" src="https://www.youtube.com/embed/{{post.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    {% endif %}


    {% if post.excerpt %}
    {{ > post.excerpt | markdownify }}
    {% endif %}


  </article>
</div>
