{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
     <span class="publicationType">{{post.type}}</span> <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>
    Authors: {{ post.authors }}<br/>
    Published in: <i>{{ post.venue }}</i><br/>
    <a href=" {{ post.paperurl }} ">Get PDF<img src="{{base_path }}/images/pdflogo.jpg" width="25px"></a>
        {% if post.video %}
          <a href="https://www.youtube.com/watch?v={{ post.video }} ">Watch Video<img src="{{base_path }}/images/youtube.jpg" width="25px"></a>
    {% endif %}

  </article>
</div>
